:root {
  --fondo: #F6F7F5;
  --texto: #1C1C1C;
  --texto-secundario: #555C59;
  --elementos-graficos: #02894B;
  --detalles: #A9D7BA;
  --soportes: #D8E0DA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--fondo);
  color: var(--texto);
}
