:root {
  --Fondo: #F6F7F5;
  --Texto: #1C1C1C;
  --Texto-Secundario: #555C59;
  --Elementos-Graficos: #02894B;
  --Detalles: #A9D7BA;
  --Soportes: #D8E0DA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--Fondo);
  color: var(--Texto);
}
