.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  gap: 1.5rem;
}

.proyectos-grid {
  display: grid;
  padding: 0 5%;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 2rem;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
